{ 
    "extends": "react-native-wcandillon", 
    "rules": {
        "quotes": [
            "error",
            "single"
        ],
        "@typescript-eslint/no-use-before-define": "off",
        "prettier/prettier": ["error", { "singleQuote": true }],
        "react-hooks/exhaustive-deps": "warn"
    }
} 